{% extends 'base.html' %}

{% block content %}

<main class='container'>
    <h1 class='text acc-head-name'>{{useracc}}</h1>
    <br>
    <a href="/psycho_test1/{{ current_user.id }}"><h5 class='text button-note-text' style='font-size:24pt;'>Пройдите наш тест</h5></a>
    <p class='text button-note-text' style='margin-left:80px;'>E-mail: {{ user.email }}</p>
    <p class='text button-note-text' style='margin-left:80px;'>Город: {{ user.city }}</p>
    <p class='text button-note-text' style='margin-left:80px;'>Страна: {{ user.country }}</p>
</main>

{% endblock %}