{% extends 'base.html' %}

{% block content %}

<main class='container text-center'>
    <h1 class="text-register professions-categories" align="center">{{useracc}}</h1>
    <div class="underline-professions-categories"></div>
    <a href="/psycho_test1/{{ current_user.id }}" align="center"><div class="profession_description_button account-button" align="center">Пройдите наш тест</div></a>
    <div class="underline-professions-categories"></div>
    <ul class="text_list_account">
	    <li class="point_text_list_account">E-mail: {{ user.email }}</li>
	    <li class="point_text_list_account">Город: {{ user.city }}</li>
	    <li class="point_text_list_account">Страна: {{ user.country }}</li>
	</ul>
</main>

{% endblock %}