{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <h1 class="text professions-categories" align="center">Вход</h1>
        <div class="underline-professions-categories"></div>
        <form class="card-body" method="POST">
            {% if message %}
            <div class="text">{{ message }}</div>
            {% endif %}

            {{ form.hidden_tag() }}

            {% for error in form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                <label class="text-register">{{ form.email.label }}</label>
                {{ form.email(class="form-control") }}
            </div>

            {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                <label class="text-register">{{ form.password.label }}</label>
                {{ form.password(class="form-control") }}
            </div>


            <div align="center">{{ form.submit(class="register-button") }}</div>
        </form>
    </div>
</div>
{% endblock %}