{% extends 'base.html' %}

{% block content %}

<div class="text">
				<h1 class="text_h">3MVK company</h1>
				<ul class="text_list">
					<li class="point_text_list">- Узнайте, кем стать</li>
					<li class="point_text_list">- Выберите профессию у нас на сайте и почитайте описание</li>
					<li class="point_text_list">- Пройдите наши тесты</li>
				</ul>
</div>

<div class="banner">
    <img src="{{ url_for('static', filename='img/banner.png') }}" alt="banner" class="banner_img">
</div>

{% endblock %}