{% extends 'base.html' %}

{% block content %}

<div class="text">
				<h1 class="text_h">3MVK company</h1>
				<ul class="text_list">
					<li class="point_text_list">- Узнай где и сколько людей прямо сейчас</li>
					<li class="point_text_list">- Избегай очередей вместе с нами</li>
					<li class="point_text_list">- Найди лучшее место для бизнеса</li>
				</ul>
</div>

<div class="banner">
    <img src="{{ url_for('static', filename='img/banner.png') }}" alt="banner" class="banner_img">
</div>

{% endblock %}