{% extends 'base.html' %}

{% block content %}
<main class='text-center container'>
    <h1 class="professions-categories" align="center">Категории профессий</h1>
    <div class="underline-professions-categories"></div>
    <div class="container">
        <ul class="list-group">
            {% for category in categories %}
            <a href="/professions/{{ category.id }}"><li class="category-li">
                {{ category.title }}</li></a>
            {% endfor %}
        </ul>
    </div>
</main>


{% endblock %}