{% extends "base.html" %}

{% block content %}
<div class="container">
        <h1 class="card-header text">Психологический тест</h1>
    <br>
    <h4><div class="text">Добро пожаловать в наш тест по профориентации!</div></h4>
    <h4><div class="text">Из двух предложенных профессий выберите одну, которая ближе конкретно вам</div></h4>
    <br>
        <form class="card-body" method="POST">
            {% if message %}
            <div class="text">{{ message }}</div>
            {% endif %}

            <h1 class="text">Вопрос №1</h1>
            {% for subfield in form.question1 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №2</h1>
            {% for subfield in form.question2 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №3</h1>
            {% for subfield in form.question3 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №4</h1>
            {% for subfield in form.question4 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №5</h1>
            {% for subfield in form.question5 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №6</h1>
            {% for subfield in form.question6 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №7</h1>
            {% for subfield in form.question7 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №8</h1>
            {% for subfield in form.question8 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №9</h1>
            {% for subfield in form.question9 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №10</h1>
            {% for subfield in form.question10 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №11</h1>
            {% for subfield in form.question11 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №12</h1>
            {% for subfield in form.question12 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}

            {{ form.submit(class="btn btn-primary") }}
        </form>
</div>
{% endblock %}