{% extends "base.html" %}

{% block content %}
<div class="container">
        <h1 class="card-header text">Психологический тест</h1>
    <br>
    <h4><div class="text">Добро пожаловать в наш тест по профориентации!</div></h4>
    <h4><div class="text">Из двух предложенных профессий выберите одну, которая ближе конкретно вам</div></h4>
    <br>
        <form class="card-body" method="POST">
            {% if message %}
            <div class="text">{{ message }}</div>
            {% endif %}

            <h1 class="text">Вопрос №1</h1>
            {% for subfield in form.question1 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №2</h1>
            {% for subfield in form.question2 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №3</h1>
            {% for subfield in form.question3 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №4</h1>
            {% for subfield in form.question4 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №5</h1>
            {% for subfield in form.question5 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №6</h1>
            {% for subfield in form.question6 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №7</h1>
            {% for subfield in form.question7 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №8</h1>
            {% for subfield in form.question8 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №9</h1>
            {% for subfield in form.question9 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №10</h1>
            {% for subfield in form.question10 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №11</h1>
            {% for subfield in form.question11 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №12</h1>
            {% for subfield in form.question12 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №13</h1>
            {% for subfield in form.question13 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №13</h1>
            {% for subfield in form.question13 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №14</h1>
            {% for subfield in form.question14 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №15</h1>
            {% for subfield in form.question15 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №16</h1>
            {% for subfield in form.question16 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №17</h1>
            {% for subfield in form.question17 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №18</h1>
            {% for subfield in form.question18 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №19</h1>
            {% for subfield in form.question19 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №20</h1>
            {% for subfield in form.question20 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №21</h1>
            {% for subfield in form.question21 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №22</h1>
            {% for subfield in form.question22 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №23</h1>
            {% for subfield in form.question23 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №24</h1>
            {% for subfield in form.question24 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №25</h1>
            {% for subfield in form.question25 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №26</h1>
            {% for subfield in form.question26 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №27</h1>
            {% for subfield in form.question27 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №28</h1>
            {% for subfield in form.question28 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №29</h1>
            {% for subfield in form.question29 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №30</h1>
            {% for subfield in form.question30 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №31</h1>
            {% for subfield in form.question31 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №32</h1>
            {% for subfield in form.question32 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №33</h1>
            {% for subfield in form.question33 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №34</h1>
            {% for subfield in form.question34 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №35</h1>
            {% for subfield in form.question35 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №36</h1>
            {% for subfield in form.question36 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №37</h1>
            {% for subfield in form.question37 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №38</h1>
            {% for subfield in form.question38 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №39</h1>
            {% for subfield in form.question39 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №40</h1>
            {% for subfield in form.question40 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №41</h1>
            {% for subfield in form.question41 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}


            <h1 class="text">Вопрос №42</h1>
            {% for subfield in form.question42 %}
            <tr>
                <div class="text"><td>{{ subfield.label }}</td>
                <td>{{ subfield }}</td></div>
                <br>
            </tr>
            {% endfor %}

            {{ form.submit(class="btn btn-primary") }}
        </form>
</div>
{% endblock %}